.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
}

.ant-spin-dot {
    font-size: 140px !important;
}

.ant-spin-dot-item {
    width: 70px !important;
    height: 70px !important;
    background-color: #d0021b !important;
}