body {
    font-family: Arial, sans-serif;
    width: 30%;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }

  .brand-name {
    background-color: #3d3b94;
    color: white;
    padding: 10px;
    font-weight: bold;
  }
  
  li {
    padding: 5px 10px;
    text-align: left;
  }

  .model-name {
    background-color: coral;
    color: white;
    font-weight: bold;
  }
  
  td {
    border: 2px solid black;
  }

  
  